<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
      <div class="col-lg-4 col-lg-offset-2">
        <p>I’m a Systems Engineer and Full Stack Developer with hands-on experience building scalable web applications and interactive gaming prototypes.  
          Proficient in JavaScript, React, and Node.js, as well as popular game engines like Unity, PlayCanvas, and Phaser, which I use to craft engaging user experiences.  
          </p>
      </div>
      <div class="col-lg-4">
        <p>
          I’ve participated in hackathons and Game Jams, creating playable prototypes and validating creative ideas.  
          Committed to continuous improvement and innovation in every game development project.  
        </p>
      </div>
      
    </div>
  </div>
</section>









